* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: white;
    padding-top: 80px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 30px 0px;
}

img {
    width: 320px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px; /* Ajustado el padding */
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Añadida una sutil sombra */
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px; /* Ajustado el tamaño de la fuente */
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    transition: color 0.3s ease;
    font-size: 16px; /* Ajustado el tamaño de la fuente */
}

nav a:hover {
    color: #ffd700;
}

.carrito {
    filter: invert(100%);
    width: 35px; /* Ajustado el tamaño del icono del carrito */
    height: auto;
    cursor: pointer;
}

.scroll {
    background-color: aliceblue;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.scroll img {
    filter: invert(15%);
}

.scroll h1 {
    color: #3f1d2e;
}

.scroll a {
    color: #3f1d2e;
}

/* Añadido un estilo hover sutil para el carrito */
.carrito:hover {
    transform: scale(1.1);
}

/* Estilos para el botón de cerrar */
.cerrar {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    z-index: 1001; /* Asegura que la "x" esté sobre las notificaciones */
}

/* Estilos para el contenedor de notificaciones */
.notificaciones-popup {
    position: absolute;
    top: calc(100% + 10px); /* Ubica el cuadro justo debajo del enlace de notificaciones */
    right: 10px;
    background-color: #3f1d2e; /* Color de fondo del contenedor de notificaciones */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    display: none; /* Oculta por defecto */
}

/* Estilos para las notificaciones */
.notificaciones-content {
    padding: 10px;
}

.notificaciones-content ul {
    padding: 0; /* Elimina el relleno predeterminado de la lista */
    list-style-type: none; /* Elimina los puntos de la lista */
}

.notificaciones-content ul li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out; /* Añade una transición para el cambio de color */
    border-bottom: 1px solid #543356; /* Línea separadora sutil */
    position: relative; /* Permite posicionar la "x" dentro de cada notificación */
}

/* Ajustes para la posición de la "x" en relación con la notificación */
.notificaciones-content ul li .cerrar {
    position: absolute;
    top: 5px;
    right: 5px;
}

/* Cambia el color de fondo al pasar el ratón por una notificación */
.notificaciones-content ul li:hover {
    background-color: #543356;
}

/* Estilos adicionales para el enlace de notificaciones */
#notificacionesLink {
    position: relative; /* Permite posicionar el cuadro de notificaciones relativo a este enlace */
}

/* Estilos adicionales para la barra de navegación y el contenedor del carrito */
#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-container {
    position: relative;
}

.carrito {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#numero {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #ff0000; /* Color del fondo del número en el carrito */
    color: #fff; /* Color del texto del número en el carrito */
    border-radius: 50%; /* Forma del número en el carrito */
    padding: 5px;
    font-size: 12px;
}



.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px auto 45px auto;
    width: 90%;
    flex-wrap: wrap;
    gap: 40px;
}

.contenedor>div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #632d43;
    height: 400px;
    width: 400px;
    border-radius: 20px;
    flex-direction: column;
    padding-top: 35px;
    gap: 25px;
    flex: 1 1 300px;
}

.contenedor>div>form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contenedor>div>form>input,
select {
    border-radius: 5px;
    border: none;
    padding: 5px;
    color: black;
}
option{
    color: black;
}

.contenedor .button {
    margin-top: 20px;
    height: 30px;
    border-radius: 7px;
    border: none;
    color: black;
}

.contenedorProductos h2 {
    text-align: center;
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 40px;
}

.mostrarProductos {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.mostrarProductos>div {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: #632d47;
    border-radius: 20px;
}

.informacion {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.informacion>p:first-child {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 300;
}

.informacion .precio {
    font-size: 20px;
    font-weight: 500;
}


.contenedorMensaje {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    height: 70px;
}

.repetidoError,
.realizado,
.llenarCampos,
.noExsiteError {
    margin: 15px 0px;
}

.llenarCampos::after,
.noExsiteError::after,
.repetidoError::after,
.realizado::after {
    background-color: red;
    font-size: 17px;
    padding: 10px;
    border-radius: 10px;
}

.realizado::after {
    content: 'Realizado';
    background-color: green;
}

.repetidoError::after {
    content: 'Este elemento ya existe';
}

.llenarCampos::after {
    content: 'Por favor compruebe que todos los campos estan llenos';
}

.noExsiteError::after {
    content: 'Este elemento no existe';
}