<div class="text-center">
    <h1 class="text-5xl text-indigo-900 py-16 font-bold">¡Bienvenido!</h1>
    <p class="text-gray-600 text-3xl font-semibold">Esta seccion de comentarios es unicamente informativa, sirve para concer profesores con los cuales jamas has interactuado y poder conocer un poco de como otros alumnos de la institucion lo califican, ademas tu tambien puedes dejar tus comentarios para complementar esta pagina, recuerda ser respetuoso y no ser ofensivo, gracias.</p>
    <div class="my-16">
        <a href="/tasks" class="inline-block font-semibold bg-yellow-500 text-xl text-gray-900 hover:bg-yellow-700 px-8 py-4 rounded-md mx-auto transition-all duration-300 ease-in-out">Comenzar</a>
    </div>
</div>
