<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Asegúrate de que la ruta a tu archivo CSS sea correcta. -->
    <link rel="stylesheet" href="styles/profesores.css">
    <!-- Tailwind CSS Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">
    <!-- Fontawesome Link -->
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>API UPIIT</title>
</head>

<body class="bg-gray-100">
    <nav class="flex py-5 bg-indigo-600 text-white">
        <div class="container mx-auto flex justify-between">
            <p class="text-2xl font-bold">Califica a tus Profesores UPIIT</p>
            <ul class="flex">
                <li class="mx-2">
                    <a href="/tasks" class="nav-link font-semibold hover:bg-indigo-700 py-2 px-4 rounded-md transition-colors duration-300">Comentarios</a>
                </li>
                <li class="mx-2">
                    <a href="/create" class="nav-link font-semibold border-2 border-white hover:text-indigo-700 hover:bg-white py-2 px-4 rounded-md transition-colors duration-300">Calificar</a>
                </li>
                <li class="mx-2">
                    <a href="/inicio" class="nav-link font-semibold border-2 border-white hover:text-indigo-700 hover:bg-white py-2 px-4 rounded-md transition-colors duration-300">Inicio</a>
                </li>
            </ul>
        </div>
    </nav>
    {{{body}}}
</body>

</html>
